pkgbase = 7-zip
	pkgdesc = File archiver with a high compression ratio
	pkgver = 24.05
	pkgrel = 1
	url = https://7-zip.org
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = LGPL-2.1-or-later
	license = LicenseRef-unRAR
	makedepends = uasm
	makedepends = meson
	source = https://7-zip.org/a/7z2405-src.tar.xz
	source = meson.build
	sha256sums = 63f341cf80b8d287c6e945519b3da0fa75553c85572a471b7fa6e68f9a90b790
	sha256sums = d1a583e7252f1e4d61c6f1cacd920dd4d74918744d0ad048a5281cc2228edcef

pkgname = 7-zip
